.features {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
}

.feature {
  width: 48%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.feature_image_box {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 16%);
}

.feature_image {
  width: 100%;
  height: 100%;
}

.heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 28px;
}

.description {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.coming {
  padding-top: 0;
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  color: #858585;
}

@media (max-width: 760px) {
  .features {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .feature {
    width: 80%;
  }
}

@media (max-width: 560px) {
  .feature {
    width: 100%;
  }
}
